<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Webpack App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
  </head>
  <body>
    Let's see if paritial's text gets inserted here:
    <div
      id="target-me"
      style="
        min-height: 10px;
        min-width: 10px;
        border: 5px solid red;
        margin: 1rem;
        padding: 1rem;
      "
    ></div>
    <hr />
    targeting using same selector multiple times:
    <div
      class="target-me-too"
      style="
        min-height: 10px;
        min-width: 10px;
        border: 5px solid blue;
        margin: 1rem;
        padding: 1rem;
      "
    ></div>
    <div
      class="target-me-too"
      style="
        min-height: 10px;
        min-width: 10px;
        border: 5px solid green;
        margin: 1rem;
        padding: 1rem;
      "
    ></div>

    <section
      class="low-priority"
      style="
        min-height: 10px;
        min-width: 10px;
        border: 5px solid yellow;
        margin: 1rem;
        padding: 1rem;
      "
    >
      <p>
        the lower priority partial should appear after this sibling paragraph:
      </p>
    </section>
  </body>
</html>
